<div class="container-fluid">

    <div class="m-5">
        <img class="col-sm-12" src="/images/infinite.png" style="display: block;margin: auto; width: 50%;">
        </div>
        <h3 class="text-center mb-2">فیلم دونی</h3>
        <p class="text-muted text-center">تا بینهایت و فراتر از آن</p>

        <div class="btn-group drop-genre" dir="rtl">
            <button type="button" class="btn btn-warning dropdown-toggle" data-toggle="dropdown" aria-haspopup="true"
                    aria-expanded="false">
                ژانر
            </button>
            <div class="dropdown-menu ">
                <a class="dropdown-item"  href="/">همه</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item"  href="/genre/action/">اکشن</a>

                <a class="dropdown-item"  href="/genre/animation/">انیمیشن</a>
                <a class="dropdown-item"  href="/genre/biography/">بیوگرافی</a>
                <a class="dropdown-item"  href="/genre/history/">تاریخی</a>
                <a class="dropdown-item"  href="/genre/horror/">ترسناک</a>

                <a class="dropdown-item"  href="/genre/crime/">جنایی</a>

                <a class="dropdown-item"
                   href="/genre/war/">جنگی</a>
                <a class="dropdown-item"  href="/genre/family/">خانوادگی</a>

                <a class="dropdown-item"  href="/genre/mistery/">رازآلود</a>

                <a class="dropdown-item"
                   href="/genre/martial/">رزمی</a>
                <a class="dropdown-item"  href="/genre/si-fi/">علمی
                    تخیلی</a>
                <a class="dropdown-item"  href="/genre/sad/">غم
                    انگیز</a>
                <a class="dropdown-item"  href="/genre/fantasy/">فانتزی</a>

                <a class="dropdown-item"  href="/genre/comedy/">کمدی</a>

                <a class="dropdown-item"
                   href="/genre/short/">کوتاه</a>
                <a class="dropdown-item"
                   href="/genre/adventure/">ماجراجویی</a>
                <a class="dropdown-item"
                   href="/genre/ceremony/">مراسم</a>
                <a class="dropdown-item"
                   href="/genre/documentray/">مستند</a>
                <a class="dropdown-item"  href="/genre/musical/">موزیکال</a>

                <a class="dropdown-item"  href="/genre/muzic/">موسیقی</a>

                <a class="dropdown-item"  href="/genre/triler/">هیجانی</a>

                <a class="dropdown-item"  href="/genre/sport/">ورزشی</a>

                <a class="dropdown-item"  href="/genre/western/">وسترن</a>


            </div>
        </div>
    </div>

    <div class="row  row-eq-height" id="list">

    </div>


    <ul>


    </ul>


    <div id="loading" style="    height: 20vh;width: 100%;position: absolute;;">
        <p style="margin: auto;    display: inline-block;    width: 100%;   text-align: center;  position: absolute;    top: 50%;">
            <img class="sml-4x3" alt="Copper Loader motion ui ux ae aftereffects gif animation logo brand"
                 src="https://cdn.dribbble.com/users/107759/screenshots/2436386/copper-loader.gif"></p>
    </div>
</div>

<script>
    $.fn.isInViewport = function () {
        var elementTop = $(this).offset().top;
        var elementBottom = elementTop + $(this).outerHeight();

        var viewportTop = $(window).scrollTop();
        var viewportBottom = viewportTop + $(window).height();

        return elementBottom > viewportTop && elementTop < viewportBottom;
    };

    $(document).ready(function () {
        $(".dropdown-toggle").dropdown();

        var page_number = 1;
        var page_limit = 5;


        function loadMore() {
            isloading = true;
            console.log("getting page:", page_number);
            var genre = undefined;
            var url = '/api/film/' + page_number;
            {{#if genre}}
                genre = '{{genre}}';
                url = '/api/film/' + genre + '/' + page_number;
            {{/if}}

            $.ajax({
                type: 'GET',
                url: url,
                dataType: 'json',
                success: function (data) {
                    isloading = false;
                    //   console.log("data is ", data);
                    for (let i = 0; i < data.length; i++) {
                        let film = data[i];
                        //   console.log("film is :", film);
                        $('#list').append(`
                            <div class="col-md-6 col-lg-4 col-xl-3 col-sm-12">
                            <div class="card">
                                <div class="card-header">
                                    <img class="card-img" src="${film.img}" alt="Card image">
                                </div>
                                <div class="card-body">
                                    <h1 class="card-title">${film.title}</h1>
                                    <div class="div-under-title container-fluid">
                                        <div class="under-title row">

                                            <div class="row metadata col-6 ">
                                                <i class="fa fa-film" style="    font-size: 25px;position: absolute;top: -5px;" aria-hidden="true"></i>
                                                <p style="margin-right:36px;"   data-toggle="tooltip" data-placement="top" title="${film.genre}"  >${film.genre}</p>
                                            </div>

                                            <div class="row metadata col-6">
                                             <i class="fab fa-imdb" style="    font-size: 30px;position: absolute;top: -10px;" aria-hidden="true"></i>
                                            <a href="${film.imdb_link}">
                                                <p style="margin-right:36px;"  data-toggle="tooltip" data-placement="top" title="${film.imdb}" >${film.imdb}</p>
                                            </a>
                                            </div>


                                             <div class="row metadata col-6">
                                                <i class="fa fa-flag-usa" style="    font-size: 25px;position: absolute;top: -5px;" aria-hidden="true"></i>
                                                <p style="margin-right:36px;"  data-toggle="tooltip" data-placement="top" title="${film.country}"  >کشور ${film.country}</p>
                                            </div>

                                             <div class="row metadata col-6">
                                                <i class="fa fa-language" style="    font-size: 25px;position: absolute;top: -5px;" aria-hidden="true"></i>
                                                <p style="margin-right:36px;"  data-toggle="tooltip" data-placement="top" title="${film.language}"  >زبان ${film.language}</p>
                                            </div>

                                            <div class="row metadata col-6">
                                                <i class="fa fa-desktop" style="    font-size: 25px;position: absolute;top: -5px;" aria-hidden="true"></i>
                                                <p style="margin-right:36px;"  data-toggle="tooltip" data-placement="top" title="${film.quality}"  >کیفیت ${film.quality}</p>
                                            </div>
                                            <div class="row metadata col-6">
                                                <i class="fa fa-play" style="    font-size: 25px;position: absolute;top: -5px;" aria-hidden="true"></i>
                                                <p style="margin-right:36px;"  data-toggle="tooltip" data-placement="top" title="${film.encoder}"  > ${film.encoder}</p>
                                            </div>

                                             <div class="row metadata col-6">
                                                <i class="fa fa-file-video" style="    font-size: 25px;position: absolute;top: -5px;" aria-hidden="true"></i>
                                                <p style="margin-right:36px;"  data-toggle="tooltip" data-placement="top" title="${film.size}"  >${film.size}</p>
                                            </div>


                                            <div class="row metadata col-6">
                                                <i class="fa fa-stopwatch" style="    font-size: 25px;position: absolute;top: -5px;" aria-hidden="true"></i>
                                                <p style="margin-right:36px;"  data-toggle="tooltip" data-placement="top" title="${film.duration}"  >${film.duration}</p>
                                            </div>
                                        </div>
                                    </div>
                                    <p class="card-text text-justify story" style="direction: rtl;" ">${film.story}</p>
                                    <a class="trailer-preview" href="${film.link}" target="new">
                                        <i class="fa fa-play" aria-hidden="true"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                              `)
                    }
                    page_number++;
                    if (page_number < page_limit) {
                        loadMore();
                    }
                }
            });
        }

        loadMore();

        $('.container-fluid').infiniteScroll("loadMore");

        var isloading = false;

        $(window).on('resize scroll', function () {
            if ($("#loading").isInViewport() && !isloading) {
                console.log("triggered loading ...");
                page_limit += 5;
                loadMore();
            }
        })

    });


</script>
<script src="/javascripts/infinite-scroll.pkgd.min.js"></script>
