@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700");
@import url("https://fonts.googleapis.com/css?family=Fredericka+the+Great");

body {
    background-color: #F8FAFB;
}

body , p , span , div {
    font-family: 'Sahel','Thasadith', sans-serif;
}

.card-body h1 {
    padding-top: 25px;
}

.col-md-5, .description {
    padding: 0;
}

.description {
    font-family: 'Fredericka the Great', cursive;
    text-align: center;
}

.card-body .card-title {
    font-family: Thasadith;
    font-size: 30px;
    padding-top: 20px;
    background: #f7f7f7;
    padding: 10px;
}

.card-header, .metadata {
    background: none;
    padding: 0;
    position: relative;
    border-style: none;
}

.metadata {
    font-size: 16px;
}

.metadata i, .metadata p {
    float: left;
}

.metadata p {
    margin-top: 0;
    margin-left: 10px;
}

.metadata i {
    color: #ff9d00;
    margin-top: 5px;
    margin-left: 1px;
}

.card-img {
    min-height: 650px;
    -webkit-clip-path: inset(10% 0 20% 0);
    clip-path: inset(10% 0 20% 0);
    margin-top: -15%;
}

.card-body .card-title {
    font-weight: 600;
    color: #414345;
    padding-top: 35px;
}

.card-body .card-text {
    margin-top: 8px;
    font-weight: 600;
    line-height: 30px;
}

.card, .trailer-preview {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.card:hover, .trailer-preview:hover {
    box-shadow: 0 8px 18px rgba(0, 0, 0, 0.1), 0 8px 8px rgba(0, 0, 0, 0.18);
}

.card {
    border-radius: 15px !important;
    border-style: none;
    overflow: hidden;
    transform: scale(0.9);
    margin: 5px 0;
    height:100%;
}

.trailer-preview {
    background-color: #ff3d49;
    position: absolute;
    top: -46px;
    right: 24px;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    color: white;
    font-size: 36px;
    text-align: center;
    padding-top: 13px;
}

.trailer-preview:hover, .trailer-preview:disabled, .trailer-preview:active, .trailer-preview:focus {
    background-color: #ff3d49;
    color: white;
}

.trailer-preview i {
    margin-left: 5px;
}

.card-header {
    padding: 0 !important;
}

.card-body {
    position: relative;
    margin-top: -30%;
    color: #5d5d5d;

}

.card-body {
    padding: 0 !important;
}

.card-title {
    padding-top: 30px;
}

.under-title {
    direction: rtl;
    padding: 20px;
    text-align:right;
    background: #f7f7f7;
    border-top: 1px solid #46464629;
    margin:0;
    white-space: nowrap;
}


@font-face {
    font-family: Sahel;
    src: url("http://mincdn.ir/font/Sahel/Sahel.eot");
    src: url(http://mincdn.ir/font/Sahel/Sahel.eot?#iefix) format("embedded-opentype"), url(http://mincdn.ir/font/Sahel/Sahel.woff) format("woff"), url(http://mincdn.ir/font/Sahel/Sahel.ttf) format("truetype");
    font-weight: 400
}

.story{
    direction: rtl;
    padding: 10px;
}

.under-title p{
    white-space: nowrap;
    text-overflow: ellipsis;
    width: 100%;
    display: block;
    overflow: hidden
}

.under-title a{
    color: #5d5d5d;
    text-decoration: none;
    margin-right:40px;
}
.row > .row {
    padding:0;
    margin:0;
}

.drop-genre{
    position: absolute !important;
    direction: rtl;
    /* left: 0; */
    top: 20px;
    right: 20px;
}

.dropdown-item{
    text-align: right!important;
}

.btn-warning {
    color: #212529;
    background-color: #ffd83f!important;;
    border-color: #ffd13e!important;;
}